body {
    background-color: white;
}

.nav {
    width: 100%;
    background-color: lightblue;
    height: 80px;
    position: fixed;
    top: 0px;

    display: flex;
    justify-content: space-between;

}

body {
    height: 3000px;
    font-size: 20px;
}

h1 {
    margin-top: 100px;
}

.links {
    margin-right: 30px;
    display: flex;
    gap: 20px;
    list-style-type: none;
}


.nav-link {
    text-decoration: none;

}

.logo {
    margin-left: 30px;
}

.logo img {
    border-radius: 50%;
    width: 90px;
    height: 70px;
}


#about {
    background-color: lightgray;
}

#about-scroll {
    position: relative;
    top: -500px;
}

a {
    font-weight: bold;
}

a:link {
    color: blue;
}

a:visited {
    color: #6A0DAD;
}

a:hover {
    color: red;
}

p {
    color: #000080;
    font-size: 16px;
    font-family: "Calibri Light";
}

h1 {
    color: #1A1A7E
}

#project {
    background-color: lightblue;
}

#project-scroll {
    position: relative;
    top: -90px;
}

.header {
    font-weight: bold;
}

.project-list a {
    text-decoration: none;
}

.project-list {
    display: flex;
    justify-content: space-around;

}

#skill-scroll {
    position: relative;
    top: -80px;
}

#skill {
    background-color: lightgray;
}

.skill-list {
    font-size: 16px;
    color: #000080;
    display: flex;
    justify-content: space-around;
}

#welcome {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact-scroll {
    position: relative;
    top: -83px;
}

.contact img {
    width: 50px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


